h1 {

    font-size: 35px;
    color: orange;
    text-align: center;
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;

}
#a {
    text-align: center;
    margin-top: 30px;
}
body {
  background-image: url("https://funart.pro/uploads/posts/2020-04/1587646369_21-p-besshovnie-foni-dlya-saitov-58.jpg");
}
